header{
    background-color: rgb(13, 6, 98);

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: calc(100% - 80px) ;
    padding: 0 40px;
    margin: auto;
    position: relative;
    color: azure;

}

ul{
    position: absolute;
    right: 0;

    background-color: brown;

    top: 67px;

    list-style-type: none;

    transition: all .4s ease-out;
}

.aparecer{
    transform: translateX(0%);
}
.sumir{
    transform: translateX(100%);
}