.criarUsuarios{
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}
.criarUsuarioDentro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    
    background-color: #F8CB00;
    color: #ffff;
    border-radius: 4vh;
    position: relative;

    form{

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50vh;

        input{
            width: calc(100% - 3vh);
            padding: 1vh;
            border: none;
        
            margin: 1vh;
            height: 2vh;
        
            font-size: 2vh;
        
            border-radius: 1vh;
        }
    }

    button{
        border: none;

        font-size: 2vh;
        padding: 1vh 7vh;
        background-color: #2BDA5D;
        color: #ffff;
        border-radius: 1vh;
        cursor: pointer;
    }

}
