.formLogin{
    background-color: #F8CB00;
    position: relative;
    width: 80vh;
    height: 60vh;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    font-size: 1vh;

    border-radius: 4vh;
    h1{
        font-size: 3.5vh;
        color: #ffff;
    }

    p{
        font-size: 1.6vh;

        margin-top: 2vh;
    }
}


.formLogin input{
    width: 65%;
    padding: 1vh;
    border: none;

    margin: 1vh;
    height: 2vh;

    font-size: 2vh;

    border-radius: 1vh;
}
.voltar{
    position: absolute;

    margin: 3vh;

    top: 0;
    left: 0;
}
.formLogin button{
        border: none;

        font-size: 2vh;
        padding: 1vh 7vh;
        background-color: #2BDA5D;
        color: #ffff;
        border-radius: 1vh;
        cursor: pointer;
}
.formPai{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}  
.mascote{
    position: fixed;
    width: 35vh;
    z-index: 9;
}

.bebela{
    left: 39vh;
    top: 28vh;
}
.chico{
    width: 30vh;
    right: 42vh;
    top: 30vh;
}
.mika{
    width: 9vh;
    position: fixed;
    top: 23vh;
    right: 67vh;

    z-index: 99;
}
@media screen and (max-width: 767px) {
    .formLogin{
        margin: 20px;
        height: 40vh;

    }
    .bebela{
        left: -2vh;
        top: 44vh;
        width: 15vh;
        
    }
    .chico{
        width: 12vh;
        right: -3vh;
        top: 35vh;
    }
    .mika{
        width: 5vh;
        position: fixed;
        top: 33vh;
        right: 5vh;
    
        z-index: 99;
    }

}