@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


#root{
    font-family: "Inter", sans-serif;
    overflow: hidden;
    max-width: 1366px;
    /* padding: 0 40px; */
    margin: auto;

}
body{
        background-color: #F4F4F4;
}
